body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 0;
  font-family: 'Tahoma, Serif';
  margin: 0px;
  padding: 0px;
}

.top-menu {
  width: 100%;
  padding: 10px 20px 0px 20px;
  border: 0px;
  display: flex;
}

.top-menu a img{
   width: 104px;
   height: 81px;
}

.horizontal-line {
  height: 3px;
  width: 100%;
  border: 1px;
  border-color: #dddddd;
}

.menu-buttons {
  display: flex;
  flex-flow: wrap;
  height: 71px;
  width: calc(100vw - 120px);
  padding: 5px 0px 5px 0px;
}

.top-menu-button {
  width: 170px;
  margin-left: 5px;
  height: 71px;
  background-color: #0093cc;
  text-align: center;
}

.top-menu-button a {
  text-decoration: none;
  color: #eeeeee;
  font-size: 20px;
  height: 71px;
  line-height: 71px;
}

.contenido {
  display: flex;
  flex-direction: row;
  border: 0px;
  border-top: 1px solid;
  border-top-color: #006b46;
}

.left-nav {
  width: 190px;
  border: 0px;
  border-right: 2px solid;
  border-right-color: #006b46;
}

.left-nav-button {
  background-color: #00b046;
  margin-bottom: 5px;
  font-size: 1em;
}

.left-nav-button a {
  text-decoration: none;
  color: #eeeeee;
  font-size: 1.25em;
  height: 25px;
  line-height: 25px;
}

.main-body {
  width: calc(100vw - 190px);
  height: calc(100vh - 100px);
}

.main-frame {
  border: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
